<html layout:decorate="~{usr/member/layout.html}" xmlns="http://www.w3.org/1999/html">

<html>
<head>
    <meta charset="UTF-8">
    <title>챌린지 디테일 페이지</title>
</head>

<body>

<main layout:fragment="main" class="flex flex-col w-full justify-center">
    <script>

        function wantJoin(challengeId) {
            if (confirm('해당 챌린지에 참여하시겠습니까?')) {
                alert("환영합니다! 챌린지에 열심히 참여해보세요!");
                location.href = "/usr/challenge/join/" + challengeId;
            } else {
                alert("참여가 취소되었습니다.");
            }
        }

    </script>


    <div class="flex w-full mt-10 mx-100 justify-center">
        <div class="mx-20">
            <img th:src="${challenge.challengePhoto.getLargePhoto()}" alt="challenge_image"/>
        </div>
        <div class="w-1/3">
            <div class="flex justify-between">
                <p class="text-[30px] bolder-double font-bold mx-3" th:text="${challenge.challengeName}"></p>

                <th:block th:unless="${isJoin}">
                    <button th:onclick="'wantJoin(\'' + ${challenge.id} + '\')'"
                            class="btn btn-accent">참여하기
                    </button>
                </th:block>

                <th:block th:if="${isJoin}">
                    <a th:href="@{|/usr/challenge/write_form/${challenge.id}|}"
                       class="btn btn-accent mx-2">
                        <button>인증하기</button>
                    </a>
                </th:block>
            </div>
            <div class="card bg-gray-200 mt-7 h-80 flex place-content-around">
                <div class="flex justify-around space-x-5">
                    <div class="w-30 content-center items-center">
                        <h1 class="text-[20px] font-extrabold">챌린지 일정</h1>
                        <h1 class="text-[20px] font-extrabold mt-5">챌린지 인원</h1>
                        <h1 class="text-[20px] font-extrabold mt-5">주간 인증 횟수</h1>
                        <h1 class="text-[20px] font-extrabold mt-5">챌린지 개설자</h1>
                        <h1 class="text-[20px] font-extrabold mt-5">챌린지 태그</h1>
                        <h1 class="text-[20px] font-extrabold mt-5">총 인증 게시물 수</h1>
                    </div>
                    <div class="w-70  content-center items-center">
                        <p class="text-[20px] bolder-double"
                           th:text="${challenge.startDate} + ' ~ ' + ${challenge.endDate}"></p>
                        <div class="badge badge-lg badge-outline gap-3 mt-5">
                            <i class="fa-solid fa-person fa-lg" style="color: #000000;"></i>
                            <p class="text-black"> -no- 명</p>
                        </div>
                        <p class="text-[20px] bolder-double mt-5"
                           th:text="'주 ' + ${challenge.challengeFrequency} + '회'"></p>
                        <p class="text-[20px] bolder-double mt-5" th:text="${challenge.challengeCreator}"></p>
                        <div class="mt-6">
                            <p class="badge badge-warning text-[20px] bolder-double badge-lg"
                               th:text="${challenge.challengeTag.challengeLanguage}"></p>
                            <p class="badge badge-primary text-[20px] bolder-double badge-lg"
                               th:text="${challenge.challengeTag.challengeSubject}"></p>
                            <p class="badge badge-notice text-[20px] bolder-double badge-lg"
                               th:text="${challenge.challengeTag.challengePostType}"></p>
                        </div>
                        <th:block th:unless="${hasPost}">
                            <p class="text-[20px] bolder-double mt-5"> 0 개</p>
                        </th:block>
                        <th:block th:if="${hasPost}">
                            <p class="text-[20px] bolder-double mt-5" th:text="${#lists.size(challengePostList)} + '개'"></p>
                        </th:block>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="flex flex-wrap justify-around h-1/2 mt-14">
            <div class="w-1/8 h-full"></div>
            <div class="card bg-gray-200 w-3/4 h-full ml-20">
                <div class="flex flex-col h-full">
                    <h1 class="text-[20px] font-black mt-5 mx-8">Challenge Introduction</h1>
                    <p class="text-[15px] font-double mt-5 mx-14" th:text="${challenge.challengeContents}"></p>
                </div>
            </div>
            <div class="w-1/8 h-full"></div>
        </div>

        <br/>

        <div class="flex flex-wrap justify-around mt-14">
            <div class="w-1/8 h-full"></div>
            <div class="card bg-gray-200 w-3/4 h-full ml-20">
                <div class="flex flex-col h-1/2">
                    <th:block th:unless="${hasPost}">
                        <h2 class="text-[20px] font-black mt-5 mx-8">아직 아무도 인증하지 않았어요!</h2>
                    </th:block>

                    <div class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-4 gap-[50px] bg-white-500 my-10">
                        <th:block th:if="${hasPost}">
                            <!-- 인증글 내용 -->
                            <div th:each="post : ${challengePostList}">
                                <div class="card w-[200px] shadow-xl mx-8">
                                    <figure>
                                        <img th:src="${post.postPhoto.getSmallPhoto()}" alt="post_image"
                                             class="rounded-xl w-[90%] mt-3"/>
                                    </figure>
                                    <div class="card-body">
                                        <h2 class="card-title"
                                            th:text="${#strings.length(post.postTitle) &gt; 10 ? #strings.substring(post.postTitle, 0, 10) + '...' : post.postTitle}"></h2>

                                        <p th:text="${#strings.length(post.postContents) &gt; 15 ? #strings.substring(post.postContents, 0, 15) + '...' : post.postContents}"></p>
                                        <div class="card-actions justify-end">
                                            <a class="btn btn-accent"
                                               th:href="@{|/usr/challenge/postdetail/${post.id}|}">보러가기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="w-1/8 h-full"></div>
        </div>

    </div>
</div>

</main>
</body>
</html>