<html>
<head>
  <meta charset="UTF-8">
  <title>챌린지 인증 페이지</title>
</head>

<div>

  <h2>챌린지 인증 페이지</h2>
  <form method="post">

    <div>
      <label for="title"> 인증 제목 </label>
      <input type="text" name="title" id="title" class="form-control">
    </div>

    <div>
      <label for="contents"> 인증 내용 작성하기 </label>
      <textarea name="contents" id="contents" class="form-control"></textarea>
    </div>

    <div>
      <label>
        <input type="radio" name="status" id="public" value="공개" checked>공개
        <input type="radio" name="status" id="private" value="비공개">비공개
      </label>
    </div>


    <input type="submit" value="작성완료" class="ui-button">

  </form>

</div>
</html>