<html layout:decorate="~{usr/member/layout.html}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>DevChall</title>
</head>
<body>
<main layout:fragment="main" class="flex flex-col w-full min-h-screen bg-[#121212] text-white">
    <!--  네브바 시작  -->

    <!--  네브바 끝  -->

    <!--  헤더 시작  -->
    <header class="flex w-full justify-between">
        <section class="flex">
            <img src="https://kr.object.ncloudstorage.com/devchall/devchall_img/logoXL.png" alt="DevChall" class="w-[200px] h-[200px] flex-shrink-0 mx-10 p-2">
        </section>
        <!--   카테고리 타임리프 작업 필요    -->
        <section class="flex w-[90%]">
            <article class="flex justify-center w-full">
                <div class="flex items-center flex-wrap justify-around w-[90%]">
                    <a href="/?language=java" class="flex flex-col items-center group px-1">
                        <img src="/images/Challenge-img.png" alt="DevChall" class="rounded-full h-20 w-20 transition-all duration-300 transform group-hover:scale-110 shadow-lg">
                        <div class="text-xs font-bold p-2">Java</div>
                    </a>
                    <a href="/?language=python" class="flex flex-col items-center group px-1">
                        <img src="/images/Challenge-img.png" alt="DevChall" class="rounded-full h-20 w-20 transition-all duration-300 transform group-hover:scale-110 shadow-lg">
                        <div class="text-xs font-bold p-2">Python</div>
                    </a>
                    <a href="/?language=javascript" class="flex flex-col items-center group">
                        <img src="/images/Challenge-img.png" alt="DevChall" class="rounded-full h-20 w-20 transition-all duration-300 transform group-hover:scale-110 shadow-lg">
                        <div class="text-xs font-bold p-2">JavaScript</div>
                    </a>
                    <a href="?language=c" class="flex flex-col items-center group">
                        <img src="/images/Challenge-img.png" alt="DevChall" class="rounded-full h-20 w-20 transition-all duration-300 transform group-hover:scale-110 shadow-lg">
                        <div class="text-xs font-bold p-2">C</div>
                    </a>
                    <a href="/?subject=project" class="flex flex-col items-center group">
                        <img src="/images/Challenge-img.png" alt="DevChall" class="rounded-full h-20 w-20 transition-all duration-300 transform group-hover:scale-110 shadow-lg">
                        <div class="text-xs font-bold p-2">프로젝트</div>
                    </a>
                    <a href="/?subject=coding" class="flex flex-col items-center group">
                        <img src="/images/Challenge-img.png" alt="DevChall" class="rounded-full h-20 w-20 transition-all duration-300 transform group-hover:scale-110 shadow-lg">
                        <div class="text-xs font-bold p-2">코딩테스트</div>
                    </a>
                    <a href="/?subject=study" class="flex flex-col items-center group">
                        <img src="/images/Challenge-img.png" alt="DevChall" class="rounded-full h-20 w-20 transition-all duration-300 transform group-hover:scale-110 shadow-lg">
                        <div class="text-xs font-bold p-2">개념 공부</div>
                    </a>
                    <a href="/?subject=test" class="flex flex-col items-center group">
                        <img src="/images/Challenge-img.png" alt="DevChall" class="rounded-full h-20 w-20 transition-all duration-300 transform group-hover:scale-110 shadow-lg">
                        <div class="text-xs font-bold p-2">시험 대비</div>
                    </a>
                </div>
            </article>
        </section>
    </header>
    <!--  헤더 끝  -->


    <section class="bg-[#F2F4F4] h-full" style="border-top-left-radius: 4rem;">

        <!--    나의 챌린지  -->
        <article th:if="${@rq.login}" class="p-5 mx-5">

            <div class="p-2">
                <h1 class="text-black text-2xl font-bold">>나의 챌린지</h1>
            </div>
            <div class="text-black p-2" th:if="${challengeMembers==null or #lists.isEmpty(challengeMembers)}">
                <i class="fa-regular fa-face-laugh"></i> 참가 중인 챌린지가 없어요. 다양한 챌린지를 경험해보세요!
            </div>

            <div th:unless="${challengeMembers==null or #lists.isEmpty(challengeMembers)}"
                    class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-5 gap-[20px]">
                <div th:each="challengeMember:${challengeMembers}"
                        class="card w-[200px] h-auto bg-base-100 shadow-xl text-gray-400 my-2 mx-5">
                    <a th:href="|/usr/challenge/detail/${challengeMember.linkedChallenge.id}|">
                        <figure class="pt-5">
                            <img th:src="${challengeMember.getLinkedChallenge().smallPhoto}" alt="Shoes" class="rounded-xl w-[90%]" />
                        </figure>
                    </a>

                    <div class="card-body items-center text-center" style="padding: 20px">
                        <a th:href="|/usr/challenge/detail/${challengeMember.linkedChallenge.id}|">
                            <h4 class="text-black font-bold text-sm"
                                th:text="${#strings.length(challengeMember.linkedChallenge.challengeName) &gt; 10
                                ? #strings.substring(challengeMember.linkedChallenge.challengeName, 0, 10) + '...' : challengeMember.linkedChallenge.challengeName}">
                            </h4>
                        </a>
                        <div class="flex flex-wrap justify-center items-center">
                            <span class="badge badge-primary mx-2" style="font-size: x-small" th:text="'주 ' + ${challengeMember.linkedChallenge.challengeFrequency} + '회'"></span>
                            <span class="badge badge-secondary mx-2" style="font-size: x-small" th:text="${challengeMember.linkedChallenge.challengeLanguage}"></span>
                            <span class="badge badge-warning mx-2 my-1" style="font-size: x-small" th:text="${challengeMember.linkedChallenge.challengeSubject}"></span>
                        </div>
                        <progress class="progress progress-accent w-56" th:value="${challengeMember.totalPostCount}" th:max="${challengeMember.linkedChallenge.challengeFrequency * challengeMember.linkedChallenge.challengePeriod}"></progress>
                        <div class="card-actions flex justify-around">
                            <div style="font-size: x-small">
                                <a href="#">
                                    <span>진행 상황 : </span>
                                    <span th:text="${challengeMember.totalPostCount} + ' / '"></span>
                                    <span th:text="${challengeMember.linkedChallenge.challengeFrequency * challengeMember.linkedChallenge.challengePeriod}"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!--    나의 챌린지 끝!   -->

        <!--    챌린지 리스트 시작   -->
        <article class="p-5 mx-5">
            <div class="p-2">
                <h1 class="text-black text-2xl font-bold">>모집 중인 챌린지
                    <span th:if="${param.subject != null && !param.subject.isEmpty()}">
                        <span class="badge badge-primary mx-1" th:if="${#strings.equals(param.subject, 'test')}">시험 대비</span>
                        <span class="badge badge-primary mx-1" th:if="${#strings.equals(param.subject, 'project')}">프로젝트</span>
                        <span class="badge badge-primary mx-1" th:if="${#strings.equals(param.subject, 'study')}">개념 공부</span>
                        <span class="badge badge-primary mx-1" th:if="${#strings.equals(param.subject, 'coding')}">코딩 테스트</span>
                        <span class="badge badge-primary mx-1" th:if="${#strings.equals(param.subject, 'algorithm')}">알고리즘</span>
                        <span class="badge badge-primary mx-1" th:if="${#strings.equals(param.subject, 'solving')}">예제 풀기</span>
                    </span>
                    <span class="badge badge-accent mx-1" th:if="${param.language != null && !param.language.isEmpty()}"
                          th:text="${param.language}"></span>
                </h1>
            </div>
            <div class="text-center mt-10 text-black" th:if="${challenges == null or #lists.isEmpty(challenges)}" >
                <i class="fa-regular fa-face-laugh"></i> 모집중인 챌린지가 없어요. 새로운 챌린지를 생성해보세요!
            </div>
            <div th:unless="${challenges == null or #lists.isEmpty(challenges)}">

                <div class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-5 gap-[20px]">
                    <div th:each="challenge:${challenges}">
                        <div class="text-black">
                            <div class="card w-[200px] h-auto bg-base-100 shadow-xl text-gray-400 my-2 mx-5">
                                <a th:href="|/usr/challenge/detail/${challenge.id}|">
                                    <figure class="pt-5">
                                        <img th:src="${challenge.smallPhoto}" alt="Challenge_img" class="rounded-xl w-[90%]" />
                                    </figure>
                                </a>

                                <div class="card-body items-center text-center" style="padding: 20px">
                                    <a th:href="|/usr/challenge/detail/${challenge.id}|">
                                        <h4 class="text-black font-bold text-sm" th:text="${#strings.length(challenge.challengeName) &gt; 10
                                        ? #strings.substring(challenge.challengeName, 0, 10) + '...' : challenge.challengeName}"></h4>
                                    </a>
                                    <div class="flex flex-wrap justify-center items-center">
                                        <span class="badge badge-primary mx-2" style="font-size: x-small" th:text="'주 '+${challenge.challengeFrequency}+'회'"></span>
                                        <span class="badge badge-secondary mx-2" style="font-size: x-small" th:text="${challenge.challengeLanguage}"></span>
                                        <span class="badge badge-warning mx-2 my-1" style="font-size: x-small" th:text="${challenge.challengeSubject}"></span>
                                    </div>
                                    <progress class="progress progress-warning w-56" th:value="${countList.get(challenge.getId())}" th:max="${challenge.challengeMemberLimit}"></progress>
                                    <div class="card-actions flex justify-around">
                                        <div style="font-size: x-small">
                                            <a href="#">
                                                <span>현재 참여자 수 : </span>
                                                <span th:text="${countList.get(challenge)} + ' / '">?? / </span>
                                                <span th:text="${challenge.challengeMemberLimit}"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!--    챌린지 리스트 끝-->
    </section>

</main>


</body>
</html>