<html layout:decorate="~{usr/member/layout.html}" xmlns="http://www.w3.org/1999/html">

<head>
    <title>회원가입</title>
</head>

<body>

<main layout:fragment="main">
    <script>
        function JoinForm__submit(form) {
            // loginID 이(가) 올바른지 체크

            form.loginID.value = form.loginID.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            //loginID == 아이디
            if (form.loginID.value.length === 0) {
                toastWarning('아이디를 입력해주세요.');
                form.loginID.focus();
                return;
            }

            if (form.loginID.value.length < 4) {
                toastWarning('아이디를 4자 이상 입력해주세요.');
                form.loginID.focus();
                return;
            }
            // nickname = 닉네임
            form.nickname.value = form.nickname.value.trim();
            if (form.nickname.value.length === 0) {
                toastWarning('닉네임을 입력해주세요.');
                form.nickname.focus();
                return;
            }

            if (form.nickname.value.length < 1) {
                toastWarning('닉네임을 입력해주세요.');
                form.nickname.focus();
                return;
            }

            // password 이(가) 올바른지 체크


            // email == 이메일
            form.email.value = form.email.value.trim();
            if (form.email.value.length === 0) {
                toastWarning('이메일을 입력해주세요.');
                form.email.focus();
                return;
            }

            if (form.email.value.length < 1) {
                toastWarning('이메일을 입력해주세요.');
                form.email.focus();
                return;
            }

            // username == 본명
            form.username.value = form.username.value.trim();
            if (form.username.value.length === 0) {
                toastWarning('이름을 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 1) {
                toastWarning('이름을 입력해주세요.');
                form.loginID.focus();
                return;
            }

            // password = 비밀번호
            form.password.value = form.password.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.password.value.length == 0) {
                form.password.focus();
                toastWarning('비밀번호를 입력해주세요.');
                return;
            }

            if (form.password.value.length < 4) {
                toastWarning('비밀번호를 4자 이상 입력해주세요.');
                form.password.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <form th:action method="POST" class="p-10 flex flex-col gap-4 flex-center" onsubmit="JoinForm__submit(this); return false;">
        <th:block th:if="true">
            <div class="form-control">
                <label class="label">
                    <span class ="loginID"> 사용하실 아이디를 입력해주세요</span></label>
                <input type="text" name="loginID" maxlength="15" placeholder="loginID" class="input input-bordered w-full max-w-xs" id="loginID" autofocus/>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">본인 이름을 입력해 주세요</span>
                </label>
            <input type="text" name="username" maxlength="15" placeholder="이름" class="input input-bordered w-full max-w-xs" id="username" />
            </div>

            <div class="form-control">
            <label class="label">
                <span class="label-text">사용하실 닉네임을 입력해주세요(1~15자)</span>
            </label>
            <input type="text" name="nickname" maxlength="15" placeholder="별명 (1~15자)" class="input input-bordered w-full max-w-xs" id="nickname" />
            </div>

        <div class="form-control">
            <label class="label">
                <span class="label-text">사용하실 이메일 주소를 입력해주세요</span>
            </label>
        <input type="text" name="email" maxlength="30" placeholder="이메일" class="input input-bordered w-full max-w-xs" id="email" /><br>
        </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">사용하실 비밀번호를 입력해주세요.</span>
                </label>
                <input type="password" name="password" maxlength="30" placeholder="비밀번호" class="input input-bordered w-full max-w-xs" id="password" />
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">사용하실 비밀번호를 한 번 더 입력해주세요.</span>
                </label>
                <input type="password" name="repeatPassword" maxlength="30" placeholder="비밀번호 확인" class="input input-bordered w-full max-w-xs" id="repeatPassword" />
            </div>

            <button id="btn-join-1" class="btn btn-md btn-primary btn-success gap-3">
                <span>회원가입</span>
            </button>
        </th:block>
    <div class="separator">
        <p>SNS계정으로 간편 회원가입</p>
    </div>

    <!— naver button —>
    <button class="naver__btn">
        <i class="fa fa-naver"></i>
        네이버로 가입하기
    </button>

    <!— kakao button —>
    <button class="kakao__btn">
        <i class="fa fa-kakao"></i>
        카카오톡으로 가입하기
    </button>

    </form>
</main>

</body>

</html>