<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    입
</head>
<body>

    <h2>로그인</h2>
    <form method="post">
        <div>
            <input type="text" name="loginID" id="loginID" placeholder="Enter email or ID" class="form-control">
        </div>

        <div>
            <input type="text" name="password" id="password" placeholder="Password" class="form-control">
        </div>

        <div>
            Forgot Password?
        </div>

        <div>
            or continue with?
            <!-- kakao or naver login -->
        </div>

        <input type="submit" value="Login" class="ui-button">
    </form>

</body>
</html>