<html layout:decorate="~{usr/member/layout.html}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>내 정보</title>
    <script>
        function openPointHistoryPopup() {
            window.open("/usr/point/pointHistory", "_blank", "width=800, height=600");
        }
    </script>
</head>

<body>

<main layout:fragment="main" class="flex flex-col w-full min-h-screen">
    <script>
        function changeEquip(itemId) {
            if (confirm('착용 하시겠습니까?' + itemId)) {
                location.href = "/usr/inventory/me/change/" + itemId;
            }
        }

        function changeNickname(){
            var nickname = document.getElementsByName('nickname')[0].value;
            if(confirm(nickname+ ' 변경 하시겠습니까?')){
                location.href = "/usr/member/change/" + nickname;
            }
        }
    </script>
    <div class="container mx-auto px-10" style="padding-top: 80px;">
        <div class="container mx-auto">
            <div class="flex gap-10">
                <div class="w-[300px] shrink-0">

                    <div class="flex">
                        <h3 class="text-2xl font-bold">My Page</h3>

                        <div style="margin-left: auto;">
                            <a href="/usr/member/me"
                               th:style="'color: #' + ${@rq.member.equippedFont.item.subPattern} +
                           '; background: #'+${@rq.member.equippedFont.item.pattern}+' !important; border: none;'"
                               th:if="${@rq.login}"
                               class="btn btn-xs rounded-lg font-bold mx-1"
                               th:text="${@rq.member.nickname}">
                            </a>
                        </div>
                    </div>

                    <div class="flex mt-5">
                        <div class="flex-1 bg-white rounded-tl-md flex justify-center items-center">
                            <div class="indicator" style="width: 150px; height: 150px">
<!--                                <img class="rounded-full" src="https://kr.object.ncloudstorage.com/devchall/devchall_img/person.png" />-->
                                <i class="fa-solid fa-user mt-3"
                                   th:style="'font-size: 80px; color: #' + ${@rq.member.equippedFont.item.pattern}"
                                   th:unless="${@rq.getMember()?.equippedCharacter?.item?.name} "></i>
                                <img th:if="${@rq.getMember().equippedCharacter != null}"
                                     th:src="@{${@photoService.getStoreCharacterPhoto(@rq.getMember().equippedCharacter.getItem().getName())}}"
                                     th:alt="${@rq.getMember().equippedCharacter}"
                                     class="transition-all duration-300 transform group-hover:scale-110 ">
                            </div>
                        </div>
                        <div class="flex-1 bg-white rounded-tr-md flex justify-center items-center">
                            <div class="flex flex-col items-center">
                                <span class="font-bold">나의 포인트</span>
                                <span class="font-thin" style="font-size: 8px;">사용내역을 확인해보세요!</span>
                                <button onclick="openPointHistoryPopup()" th:style="'background-color: #' + ${@rq.member.equippedFont.item.pattern} +'; color: #' + ${@rq.member.equippedFont.item.subPattern} + '; border-radius: 10px; margin-top: 5px;'">
                                    <span class="font-bold" th:text="${@rq.member.point.currentPoint  + 'p'}" style="padding: 0 5px;"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white rounded-t-none rounded-b-md h-20" th:style="'background-color: #' + ${@rq.member.equippedFont.item.pattern} +'; color: #' + ${@rq.member.equippedFont.item.subPattern}">
                        <div class="flex justify-between items-center">
                            <div style="padding-left: 25px; padding-top: 10px;">
                                <h3 class="text-lg font-thin" th:text="${@rq.member.loginID}"></h3>
                                <h1 class="text-xl rounded-xl" th:if="${@rq.login}" th:text="${@rq.member.nickname}"></h1>
                            </div>
                            <style>
                                .btn-custom {
                                    background-color: #30343E;
                                    color: #ffffff;
                                }
                            </style>
                            <div style="padding-right: 15px; margin-left: 0px; margin-top: 35px;">
                                <label for="my_modal_3" class="btn btn-xs mx-2 btn-custom">닉네임 변경</label>
                                <input type="checkbox" id="my_modal_3" class="w-1/3 modal-toggle modal-warning"/>
                                <div class="modal">
                                    <div class="modal-box">
                                        <h3 class="font-bold text-lg text-black">Change NickName!!✔</h3>
                                        <style>
                                            .custom-input {
                                                background-color: #ffffff;
                                                border: 1px solid #03fa6e;
                                                transition: border-color 0.3s;
                                            }
                                            .custom-input:focus {
                                                outline: none;
                                                border-width: 2px;
                                                border-color: #03fa6e;
                                            }
                                        </style>
                                        <input type="text" name="nickname" placeholder="닉네임 (2~8자)" class="input input-bordered input-info w-full max-w-xs mt-5 text-black custom-input" />
                                        <div class="modal-action">
                                            <button class="btn btn-md border-none" style="background-color: #03FA6E; color: #121212" onclick="changeNickname()">변경하기</button>
                                            <label for="my_modal_3" class="btn btn-md">X</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-1">
                    <div class="bg-white rounded-md h-full p-8 overflow-y-auto">
                        <h3 class="text-xl font-bold">마이 챌린지</h3>
                        <div class="text-black p-2" th:if="${challengeMembers==null or #lists.isEmpty(challengeMembers)}">
                            <i class="fa-regular fa-face-laugh"></i> 참가 중인 챌린지가 없어요. 다양한 챌린지를 경험해보세요!
                        </div>

                        <div class="flex gap-2 overflow-x-auto">
                            <div th:unless="${challengeMembers==null or #lists.isEmpty(challengeMembers)}"
                                 class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-5 gap-[20px]">
                                <div th:each="challengeMember:${challengeMembers}"
                                     class="card w-auto bg-base-100 shadow-xl text-gray-400 my-2">
                                    <a th:href="|/usr/challenge/detail/${challengeMember.linkedChallenge.id}|">
                                        <figure class="pt-5">
                                            <img th:src="${@photoService.getSmallPhoto(challengeMember.getLinkedChallenge().challengePhoto)}" alt="Shoes" class="rounded-xl w-[90%]" />
                                        </figure>
                                    </a>
                                    <div class="card-body items-center text-center" style="padding: 10px">
                                        <a th:href="|/usr/challenge/detail/${challengeMember.linkedChallenge.id}|">
                                            <h4 class="text-black font-bold" style="font-size: small"
                                                th:text="${challengeMember.linkedChallenge.challengeName}">
                                                프로그래머스 코테 준비
                                            </h4>
                                        </a>
                                        <progress class="progress progress-accent w-56"
                                                  th:value="${@challengeMemberService.getCountByChallengeAndMember(challengeMember.linkedChallenge, @rq.getMember())}"
                                                  th:max="${challengeMember.linkedChallenge.challengeFrequency * challengeMember.linkedChallenge.challengePeriod}"></progress>
                                        <a href="#">
                                            <span class="text-xs">진행 상황 : </span>
                                            <span class="text-xs" th:text="${@challengeMemberService.getCountByChallengeAndMember(challengeMember.linkedChallenge, @rq.getMember())} + ' / '"></span>
                                            <span class="text-xs" th:text="${challengeMember.linkedChallenge.challengeFrequency * challengeMember.linkedChallenge.challengePeriod}"></span>
                                        </a>
                                        <div class="card-actions flex justify-around">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-10 bg-white rounded-md p-8">
                <h3 class="text-xl font-bold">나의 인벤토리</h3>
                <div class="flex gap-5 overflow-auto">
                    <div class="grid grid-col-1 xl:grid-cols-4 p-5 gap-[30px]">
                        <div style="cursor: pointer" th:each="inventory:${@rq.member.inventoryList}"
                             th:onclick="'changeEquip('+${inventory.item.id}+')'">
                            <div class="h-12 w-20 flex justify-center items-center"
                                 th:style="'background-color: #'+${inventory.item.pattern}+';'">
                                <div th:if="${inventory.equipped}" class="badge badge-accent border-none" style="background-color: #03FA6E;">착용중</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</main>

</body>
</html>
