<html layout:decorate="~{usr/member/layout.html}">

<head>
    <title>상점 페이지</title>
</head>

<body>

<main layout:fragment="main" body class="bg-[#121212] w-full h-full flex-col flex">

    <script>
        function showBuy(itemId) {
            if (!confirm('정말로 구매하시겠습니까?')) {
                alert("구매가 취소되었습니다");

            } else {
                location.href = "/usr/member/store/buy/" + itemId + "?equipped=" + confirm('바로 착용하시겠습니까?');
            }
        }

        function changeEquip(itemId) {
            if (confirm('착용 하시겠습니까?')) {
                location.href = "/usr/inventory/change/" + itemId;
            }
        }
    </script>

    <div class="gap-75px flex h-full">
        <div id="inven" class="bg-black col-span-1 md:col-span-3 xl:col-span-3"
             style="border-top-left-radius: 8rem; left: 0; top: 7rem; width: calc(100% / 3);">

            <div class="p-2 w-200" style="color: #03fa6e; text-align: center; margin-top: 60px;">
                <h1 class="text-[#03fa6e] text-2xl font-bold" style="font-size: 40px;">My Inventory</h1>
            </div>

            <div class="user-image-jKB bg-[#EBEBEB] rounded-[4.3444rem] flex-shrink-0 h-[11.5rem] mx-auto flex justify-center items-center mt-20"
                 style="width: 200px;">
                <!--캐릭터 아이템 추가-->
                <a href="#" class="flex flex-col items-center group px-1">
                    <i class="fa-solid fa-user mt-3"
                       th:style="'font-size: 120px; color: #' + ${@rq.member.equippedFont.item.pattern}"
                       th:unless="${@rq.getMember()?.equippedCharacter?.item?.name} "></i>
                    <img th:if="${@rq.getMember().equippedCharacter != null}"
                         th:src="@{${@photoService.getStoreCharacterPhoto(@rq.getMember().equippedCharacter.getItem().getName())}}"
                         th:alt="${@rq.getMember().equippedCharacter}"
                         class="transition-all duration-300 transform group-hover:scale-110">
                </a>
            </div>


            <div class="flex justify-center items-center" th:if="${@rq.login}">
                <div class="flex justify-center bg-[#03fa6e] rounded-[1.5rem] flex-shrink-0 h-[4rem] mx-[18rem] mt-20"
                     style="width: 200px;">
                    <a class="mt-4 text-[#313131] font-bold text-xl"  th:text="${@rq.member.nickname}"></a>
                </div>
            </div>


            <div class="flex justify-center items-center" th:if="${@rq.login}">
                <div class="flex justify-center bg-[#000000] rounded-[4.3444rem] flex-shrink-0 h-[4rem] mx-[18rem] w-[calc(100% - 30rem)] mt-20 border border-[#03fa6e]"
                     style="width: 200px;">
                    <a class="mt-4 text-[#03fa6e] font-bold text-xl" th:text="${@rq.member.point.currentPoint + 'point'}">point</a>
                </div>
            </div>

            <div id="Inventory" class="flex-shrink-0 h-[11.5rem] mx-auto flex justify-center items-center mt-20">
                <div class="grid grid-cols-1 gap-y-[10px]" th:if="${@rq.login}">
                    <div>
                        <h2 class="text-white text-center font-bold mb-4">Fonts</h2>
                        <div class="flex justify-center">
                            <div th:each="inventory:${@rq.member.inventoryList}" th:if="${#strings.equals(inventory.item.type, 'font')}"
                                 th:onclick="'changeEquip('+${inventory.item.id}+')'">
                                <div class="w-[60px] h-[60px] flex justify-center items-center bg-[#313131]"
                                     th:style="'background-color: #'+${inventory.item.pattern}+';'">
                                    <div th:if="${inventory.equipped}" class="badge badge-accent border-none text-[5px] m-[-2px]" style="background-color: #03FA6E;">착용중</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="border border-white">
                    <div>
                        <h2 class="text-white text-center font-bold mt-4 mb-4">Characters</h2>
                        <div class="flex justify-center">
                            <div th:each="inventory:${@rq.member.inventoryList}" th:if="${#strings.equals(inventory.item.type, 'character')}"
                                 th:onclick="'changeEquip('+${inventory.item.id}+')'">
                                <div class="w-[60px] h-[60px] flex flex-col justify-center items-center">
                                    <img th:src="@{${@photoService.getStoreCharacterPhoto(inventory.item.name)}}" th:alt="${inventory.item.name}"
                                         class="transition-all duration-300 transform group-hover:scale-110">
                                    <div th:if="${inventory.equipped}" class="badge badge-accent border-none text-[5px] m-[-2px]" style="background-color: #03FA6E;">착용중</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--아이템 목록-->
        <div id="items" class="flex flex-grow flex-wrap justify-center mb-10 gap-20 mt-5 mx-20">
            <!--아이템1_Font Color-->
            <div id="item1" class="flex card w-1/4 bg-[#03fa6e] bg-opacity-10">
                <div class="flex flex-col items-center h-full">

                    <div class="flex justify-center bg-[#03fa6e] rounded-[1.5rem] flex-shrink-0 h-[4rem] mx-[18rem] mt-5"
                         style="width: 200px;">
                        <span class="mt-4 text-[#000000] font-bold text-xl">Font Color</span>
                    </div>
                    <div class="card flex justify-center p-3 w-3/4 bg-[#EBEBEB] mt-7 "
                         th:each="font:${items['fonts']}"
                         th:if="${!#strings.equals(font.name, 'basic')}">
                        <div class="flex flex-col justify-center p-5 items-center">
                            <!--색상 아이템 추가-->
                            <div class="flex justify-center items-center  relative w-[110px] h-[110px]"
                                 th:style="'background-color: #'+${font.pattern}+';'"></div>

                            <div class="flex flex-row justify-center items-center mt-5 space-x-3">
                                <div class="flex flex-col ml-auto p-2">
                                    <h3 class="text-center text-medium font-bold" th:text="${font.price + 'P'}"></h3>
                                    <button class="btn btn-sm btn-black" style="background-color: black; color: #03fa6e;"
                                            th:onclick="'showBuy('+${font.id}+')'">BUY
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--아이템2_New Character-->
            <div id="item2" class="flex card w-1/4 bg-[#03fa6e] bg-opacity-10">
                <div class="flex flex-col justify-center items-center h-full">

                    <div class="flex justify-center bg-[#03fa6e] rounded-[1.5rem] flex-shrink-0 h-[4rem] mx-[18rem] mt-5"
                         style="width: 200px;">
                        <span class="mt-4 text-[#000000] font-bold text-xl">New Character</span>
                    </div>
                    <div class="card justify-center p-2 w-3/4 h-3/5 bg-[#EBEBEB] mt-7"
                         th:each="character:${items['characters']}">
                        <a href="#" class="flex flex-col items-center group px-1">
                            <img th:src="@{${@photoService.getStoreCharacterPhoto(character.name)}}" th:alt="${character.name}"
                                 class="transition-all duration-300 transform group-hover:scale-110">
                        </a>
                        <div class="flex flex-col justify-center items-center">
                            <h3 class="text-center text-medium font-bold" th:text="${character.price + 'P'}"></h3>
                            <div class="btn btn-sm btn-black"
                                 style="width: 50px; padding: 0px; background-color: black; color: #03fa6e;"
                                 th:onclick="'showBuy('+${character.id}+')'">
                                <span style="display: block; line-height: 0px; font-size: 1px;">BUY</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="item3" class="flex card w-1/4 bg-[#03fa6e] bg-opacity-10">
                <div class="flex flex-col items-center h-full">

                    <div class="flex justify-center bg-[#03fa6e] rounded-[1.5rem] flex-shrink-0 h-[4rem] mx-[18rem] mt-5"
                         style="width: 200px;">
                        <span class="mt-4 text-[#000000] font-bold text-xl">Coming Soon</span>
                    </div>

                    <div class="card justify-center p-2 w-3/4 bg-[#EBEBEB] mt-7">
                        <div class="flex flex-col justify-center items-center mt-7 space-y-6">
                            <a href="#" class="flex flex-col items-center group px-1">
                                <img th:src="@{${@photoService.getStoreCharacterPhoto('girl1.png')}}" alt="octopus" class="transition-all duration-300 transform group-hover:scale-110">
                            </a>

                            <h3 class="flex justify-center text-center text-xl font-bold">Open D-3 !!</h3>
                        </div>
                    </div>

                    <div class="card justify-center p-2 w-3/4 bg-[#EBEBEB] mt-7">
                        <div class="flex flex-col justify-center items-center mt-7 space-y-6">
                            <a href="#" class="flex flex-col items-center group px-1">
                                <img th:src="@{${@photoService.getStoreCharacterPhoto('boy1.png')}}" alt="octopus" class="transition-all duration-300 transform group-hover:scale-110">
                            </a>

                            <h3 class="flex justify-center text-center text-xl font-bold">Open D-3 !!</h3>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</main>

</body>

</html>